<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">联系我们</h2>
                <h3 class="section-subheading text-muted">期待与您的合作</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 section-heading">
<dl class="dl-horizontal ">
  <dt><i class="fa fa-location-arrow"></i></dt>
  <dd>{{ site.contact.address }}</dd>
</dl>
<dl class="dl-horizontal">
  <dt><i class="fa fa-envelope"></i></dt>
  <dd>{{ site.contact.e-mail }}</dd>
</dl>
<dl class="dl-horizontal">
  <dt><i class="fa fa-phone"></i></dt>
  <dd>{{ site.contact.phone }}</dd>
</dl>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    window.doorbellOptions = {
        appKey: '0GIbpwhDa5Gjchx1WlgfhCxjfYqA2LRvQq7V4T0xtYTQb9Lthlc3bTJTRxUaM6gG'
    };
    (function(d, t) {
        var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/3506?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g);
    }(document, 'script'));
</script>